<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>user1::목록</title>
	</head>
	<body>
		<h3>User1 목록</h3>
		<a th:href="@{/}">메인</a>
		<a th:href="@{/user1/register}">등록</a>
		<table border="1">
			<tr>
				<th>아이디</th>
				<th>이름</th>
				<th>생년월일</th>
				<th>나이</th>
				<th>관리</th>
			</tr>
			<tr>
				<td>asdfsda</td>
				<td>dfdg</td>
				<td>dfdfg</td>
				<td>dfdfd</td>
				<td>
					<a th:href="@{/user1/modify}">수정</a>
					<a href="">삭제</a>
				</td>
			</tr>
		</table>	
	</body>
</html>









